.gitignore
deploy.bat
bin\Debug\net7.0-windows\MinidimSharp.deps.json
bin\Debug\net7.0-windows\MinidimSharp.dll
bin\Debug\net7.0-windows\MinidimSharp.exe
bin\Debug\net7.0-windows\MinidimSharp.pdb
bin\Debug\net7.0-windows\MinidimSharp.runtimeconfig.json
obj\Debug\net7.0-windows\.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj\Debug\net7.0-windows\App.baml
obj\Debug\net7.0-windows\App.g.cs
obj\Debug\net7.0-windows\apphost.exe
obj\Debug\net7.0-windows\categories\Category1.baml
obj\Debug\net7.0-windows\categories\Category1.g.cs
obj\Debug\net7.0-windows\categories\Category2.baml
obj\Debug\net7.0-windows\categories\Category2.g.cs
obj\Debug\net7.0-windows\categories\Category3.baml
obj\Debug\net7.0-windows\categories\Category3.g.cs
obj\Debug\net7.0-windows\categories\Category4.baml
obj\Debug\net7.0-windows\categories\Category4.g.cs
obj\Debug\net7.0-windows\categories\Category5.baml
obj\Debug\net7.0-windows\categories\Category5.g.cs
obj\Debug\net7.0-windows\categories\Category6.baml
obj\Debug\net7.0-windows\categories\Category6.g.cs
obj\Debug\net7.0-windows\categories\Category7.baml
obj\Debug\net7.0-windows\categories\Category7.g.cs
obj\Debug\net7.0-windows\categories\Category8.baml
obj\Debug\net7.0-windows\categories\Category8.g.cs
obj\Debug\net7.0-windows\categories\Category9.baml
obj\Debug\net7.0-windows\categories\Category9.g.cs
obj\Debug\net7.0-windows\GeneratedInternalTypeHelper.g.cs
obj\Debug\net7.0-windows\MainWindow.baml
obj\Debug\net7.0-windows\MainWindow.g.cs
obj\Debug\net7.0-windows\MinidimSharp.AssemblyInfo.cs
obj\Debug\net7.0-windows\MinidimSharp.AssemblyInfoInputs.cache
obj\Debug\net7.0-windows\MinidimSharp.assets.cache
obj\Debug\net7.0-windows\MinidimSharp.csproj.CoreCompileInputs.cache
obj\Debug\net7.0-windows\MinidimSharp.csproj.FileListAbsolute.txt
obj\Debug\net7.0-windows\MinidimSharp.dll
obj\Debug\net7.0-windows\MinidimSharp.g.resources
obj\Debug\net7.0-windows\MinidimSharp.GeneratedMSBuildEditorConfig.editorconfig
obj\Debug\net7.0-windows\MinidimSharp.genruntimeconfig.cache
obj\Debug\net7.0-windows\MinidimSharp.pdb
obj\Debug\net7.0-windows\MinidimSharp_k5oilhcs_wpftmp.AssemblyInfo.cs
obj\Debug\net7.0-windows\MinidimSharp_k5oilhcs_wpftmp.AssemblyInfoInputs.cache
obj\Debug\net7.0-windows\MinidimSharp_k5oilhcs_wpftmp.assets.cache
obj\Debug\net7.0-windows\MinidimSharp_k5oilhcs_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj\Debug\net7.0-windows\MinidimSharp_MarkupCompile.cache
obj\Debug\net7.0-windows\MinidimSharp_MarkupCompile.lref
obj\Debug\net7.0-windows\ref\MinidimSharp.dll
obj\Debug\net7.0-windows\refint\MinidimSharp.dll
obj\Debug\net7.0-windows\style\Styles.baml
obj\MinidimSharp.csproj.nuget.dgspec.json
obj\MinidimSharp.csproj.nuget.g.props
obj\MinidimSharp.csproj.nuget.g.targets
obj\project.assets.json
obj\project.nuget.cachedeploy.bat 
